<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.doublez.ddmall.service.goods.dao.TemplateMapper">

    <resultMap id="BaseResultMap" type="pro.doublez.ddmall.goods.pojo.Template">
        <result column="spec_num" property="specNum" />
        <result column="para_num"  property="paraNum" />
    </resultMap>
    
    <select id="findList" parameterType="pro.doublez.ddmall.goods.pojo.Template" resultMap="BaseResultMap">
        select *
        from tb_template
        where 1 = 1
        <if test="name != null">
            and name= #{name}
        </if>
        <if test="specNum != null">
            and spec_num =#{specNum}
        </if>
        <if test="paraNum != null">
            and para_num = #{paraNum}
        </if>
    </select>

    <select id="findById"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from tb_template
        where id = #{id}
    </select>

    <insert id="add" parameterType="pro.doublez.ddmall.goods.pojo.Template">
        insert into tb_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name
            </if>
            <if test="specNum != null">
                spec_num
            </if>
            <if test="paraNum != null">
                para_num
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name}
            </if>
            <if test="specNum != null">
                #{specNum}
            </if>
            <if test="paraNum != null">
                #{paraNum}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="pro.doublez.ddmall.goods.pojo.Template">
        update tb_template
        <set>
            <if test="name != null">
                name= #{name}
            </if>
            <if test="specNum != null">
                spec_num =#{specNum}
            </if>
            <if test="paraNum != null">
                para_num = #{paraNum}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        delete from tb_template where id = #{id}
    </update>

</mapper>